@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: block;
    padding: 0 32px;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

.logo {
    height: 40px;
    width: 40px;
}

h1 {
    text-align: center;
    font-size: 48px;
}

h2 {
    font-size: 56px;
    font-weight: 900;
    color: #243E63;
}

p {
    line-height: 1.5;
    color: #243E63;
}

a {
    color: rgb(66, 67, 68);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}

button {
    cursor: pointer;
}

.btn {
    background-color: #6415ff;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 500px;
    padding: 16px 32px; 
}


.footer_logo--img {
    display: flex;
    flex-direction: column;
}

.text--purple {
    color: #7342d6;
}

.section__title {
    font-weight: 700;
    letter-spacing: 2px;
    padding: 4px 0 16px;
}

.title__description {
    display: flex;
    flex-direction: row;
    font-size: 32px;
} 

.text__desciption--h2 {
    width: 70%;
    margin-top: 8px;
}

.text__white {
    color: #f7fafc;
}

.no-cursor {
    cursor: no-drop;
}


/* NAVIGATION */

.nav__container {
    display: flex;
    height: 80px;
    width: 100%;
    padding-top: 32px;
}

.nav__container--logo {
    display: flex;
    font-size: 24px;
    font-weight: 900;
    color: #243E63;
    padding-right: 24px; 
    margin: 4px; 
}

.nav__logo {
    margin-left: 0;
    padding-right: 12px;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav__link {
    font-size: 16px;
    font-weight: 600;
    color: #243E63;
    padding: 0 24px;
    margin-bottom: 4px;
}

.nav__link--primary {
    font-weight: 600;
    padding: 16px 32px;
    border: none;
    background-color: #6415ff;
    color: white;
    border-radius: 500px;
}


/* LANDING */

#landing {
    display: flex;
    justify-content: center;
    padding: 96px 0;
    margin-bottom: 92px;
}

.landing__container {
    width: 100%;
}

.title__description {
    color: black;
    text-align: left;
    font-size: 56px;
}

.landing__para {
    text-align: left;
    margin: 32px 0;
    font-size: 18px;
}

.landing__form {
    margin-bottom: 64px;
    position: relative;
}

.email__entry {
    font-size: 16px;
    font-weight: 500;
    border: 2px solid rgb(156 155, 155);
    padding: 20px 192px 20px 32px;
    border-radius: 500px;
}

.landing__btn {
    position: absolute;
    margin-left: 288px;
    left: 0;
    bottom: 6px;
}

.small__caps  {
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
}

.customer__logos {
    margin-top: 16px;
    opacity: 0.5;
    padding-right: 128px;
}

.desk__img {
    width: 60%;
}


/* FEATURES */

#features {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 96px;
    
}

.container__features {
    display: flex;
    flex-direction: column;
}

.features__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__description--feat{
    font-size: 56px;
    width: 100%;
    text-align: center;
}

.features__title--para {
    color: #243E63;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-top: 16px;
}

.features__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 44px 24px 0;
}

.feature {
   padding: 32px 16px;
   width: calc(100% / 3);
   display: flex;
   align-items: center;
   flex-direction: column;
}

.features__subtitle {
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.features__para {
    font-size: 16px;
    font-weight: 500;
    color: #243E63;
    margin-top: 16px;
}

/* QUALITY */

#quality {
    padding: 96px 0;
}

.container__quality {
    display: flex;
    flex-wrap: wrap;
}

.column__one--quality {
    width: 50%;
}

.title__description--sec{
    width: 70%;
}

.quality__para {
    padding-right: 16px;
    padding-bottom: 24px;
}

.quality__img {
    width: 50%;
    border: 1px solid rgb(211, 211, 211, 0.45);
}

/* STEP */

.container__steps {
    display: flex;
}

.steps__laptop--img {
    width: 60%;
    padding: 24px;
}

.column__two {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 56px;
}

.column__two--steps {
    display: flex;
    flex-direction: column;
}

.column__two--step {
    display: flex;
    margin-top: 32px;
}

.number {
    color: #cbd5e0;
    font-size: 36px;
}

.step__info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    font-size: 16px;
    color: #0b0d11;
}

.step__title {
    font-size: 20px;
    color: #243E63;
}

.steps__para {
    color: #718096;
    font-size: 16px;
    margin-top: 12px;
}


/* VALUES */

#values {
    padding: 96px 0;
}

.container__values {
    display: flex;
}

.column__one--values {
    width: 50%;
}

.title__values {
    margin-top: 16px;
}


.values__para {
    color: #0b0d11;
    font-size: 16px;
    margin-top: 32px;
    text-align: left;
}

.column__principles {
    display: flex;
    width: 50%;
    margin: 32px 32px 48px 0;
}

.principle__title {
    display: flex;
    flex-direction: column; 
}

.principle {
    display: flex;
}

.principle__para{
    color: #718096;
    font-size: 16px;
    margin-top: 16px;
}


/* PRICING */

#pricing {
    padding: 96px 0;
}

.pricing__header, .title__price {
    text-align: center;
}

.plans {
    display: flex;
    flex-wrap: wrap;
}

.plans__wrapper {
    width: calc(100% / 3);
    padding: 64px 32px 0 0;
    
}

.plan {
    display: flex;
    flex-direction: column;
}

.plan__personal {
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 10px; 
    box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.16);
}

.plan__business {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.trimming__teal {
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 8px;
}

.trimming__purple {
    width: 100%;
    height: 8px;
}

.trimming__orange {
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(245, 178, 178) 100%); 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 8px;
}

.section__top {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
}

.business {
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.plan__title {
    color: #1a202c;
    font-size: 20px;
    font-weight: bold;
}

.plan__price {
    color: #1a202c;
    font-size: 48px;
    font-weight: bold;
    padding: 16px 0;
}

.plan__features {
    text-align: center;
    padding: 32px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
}

.plan__features--title {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.plan__features--specs {
    display: flex;
    flex-direction: column;
}

.plan__feature {
    color: #718096;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.plans__button {
    margin: 0 auto;
    padding: 32px;
}

.price__buy {
    font-size: 14px;
    font-weight: bold;
    padding: 16px 48px;
    border-radius: 500px;
    border: none;
}

.btn__personal {
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.btn__business {
    color: white;
}

.btn__enterprise {
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(245, 178, 178) 100%);
}

.white__text {
    color: #f7fafc;
}

.lightgray--text {
    color: #e2e8f0;
}

.purple__text {
    color: #6415ff;
}

/* TESTIMONIALS */

#testimonials {
    padding: 96px 0;
}

.container__testimonials {
    display: flex;
}

.test__img {
    width: 50%;
}

.test__info {
    width: 50%;
    padding-left: 64px;
}

.test__info--para {
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500;
    margin: 24px 0 36px;
}

.fas {
    font-weight: 900;
}

.fa-star {
    color: #f6ad55;
}

.test__entry--subtitle {
    color: #243e63;
    font-size: 20px;
    font-weight: bold;
    margin-top: 16px;
}

.test__entry--text {
    color: #4a5568;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}

.test__entry--user {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.user__img {
    height: 80px;
    width: 80px;
    border-radius: 500px;
}

.user__info {
    display: flex;
    flex-direction: column;
    padding-left: 28px;
}

.user__name {
    color: #0b0d11;
    font-size: 20px;
    font-weight: bold;
}

.user__title {
    color: #7c8ba1;
    font-size: 16px;
    font-weight: 500;
}

/* CONCLUSION */

#conclusion{
    padding: 96px 0;
}

.container__conclusion {
    padding: 96px 0;
}

.wrapper__conclusion {
    height: 282px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #6415ff;
    border-radius: 10px;
}

.conclusion__para {
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    max-width: 480px;
    line-height: 1.5;
}

.conclusion--buttons {
    width: 50%;
    max-width: 480px;
    display: flex;
    justify-content: center;
}

.btn__get-started {
    color: #f7fafc;
    font-size: 16px;
    font-weight: bold;
    background-color: #f56565;
    border: none;
    border-radius: 500px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.16);
    padding: 20px 40px;
    margin-right: 40px;
}

.btn__contact-us {
    color: #f7fafc;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 500px;
    border: 1px solid rgb(247, 250, 252, 0.8);
    padding: 20px 40px;
    margin-right: 40px;
}


/* FOOTER */

.footer__menu {
    display: flex;
    flex-wrap: wrap;
    padding-top: 88px;
    padding-bottom: 88px;
}
 
.footer__lists {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
}

.footer__list--title {
    margin-bottom: 12px;
    display: flex;
}
 
.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__link {
    display: flex;
    color: #f7fafc;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 4px;
    margin-top: 12px;
}

footer {
    background-color: #6415ff ;
}

.footer__line {
    border: 0.50px solid #8c8d8e65;
    width: 100%;
}

.footer__info {
    display: flex;
    justify-content: center;
   justify-content: space-around;
    padding-top: 36px;
    padding-bottom: 36px;
}

.footer__logo--container {
    display: flex;
    color: #f7fafc;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 900;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.footer__copyright {
    display: flex;
    align-items: center;
    color: #cbd5e0;
    font-size: 16px;
    font-weight: 500;
}

.social__links--footer {
    display: flex;
    align-items: center;
}

.social__link {
    background-color: #f7fafc;
    border-radius: 800px;
    overflow: hidden;
    padding: 8px;
    margin-right: 16px;
}


/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 728px) {
.row {
    flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 36px;
}

p {
    width: 100%;
}

/* Landing */

#landing {
    flex-direction: column;
}

.landing__btn {
    margin-left: 288px;
    width: 39%;
}

.desk__img {
    width: 100%;
    padding-top: 24px;
}

/* features */

#features {
    flex-direction: column;
    width: 100%;
}

.container__features {
 width: 100%;
}

.feature {
    width: 100%;
}

.column__one--quality {
  width: 100%;
}

#quality {
    justify-content: center;
}

/* steps */
.steps__laptop--img {
    width: 100%;
}

/*Pricing */

.plans__wrapper {
   width: 90%;
}

/* Testimonial */

.container__testimonials {
    align-items: center;
}

.test__img {
   width: 100%;
}

.test__info {
    width: 100%;
    padding: 0;
}

/* Conclusion */

.wrapper__conclusion {
    flex-direction: column;
}

.conclusion__para {
 font-size: 20px;
}

.conclusion--buttons {
 flex-direction: column;
}

.btn__get-started {
    margin-right: 20px;
}

.btn__contact-us {
    margin-right: 20px;
}

}
    

